@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	background-color: #769fb6;
	background-image: url('../images/background-image.png')
}


.info-button {
	float: left;
	font-size: 2.5rem;
	margin: 3%;
}

/*Welcome message style*/
h1 {
	padding: 3px;
}
h2 {
	padding: 3px;
}
/*Difficulty selector style*/
.dropdown {
	
}

/*Start button style*/
#start-button {
	font-size: 1.5rem;
	box-shadow: 3px 4px 0px 0px #8B9556;
	background-color: #BED557;
	border-radius: 5px;
	border: 1px solid #8B9556;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #8B9556;
	margin: 2rem;
	width: 50%;
	font-size: 1.6rem;

}

/*Content container style*/
.content-container {
	height: 60%;
	margin: 5%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
/*Paragraph styling*/
p {
	font-family: Poppins, sans-serif;
	padding: 3%;
}

/*Logo style*/
#logo {
	display: block;
	max-width: 60%;
	max-height: 50vh;
	width: auto;
	height: auto;
	border-radius: 5%;
	margin: 3% 0;
}

.visible-post-fetch {
	display: none;
	visibility: hidden;
}

/*Answer button style */
.answer-button {
	box-shadow: 3px 4px 0px 0px #4F4C57;
	background-color: #3E537A;
	border-radius: 5px;
	border: 1px solid #4F4C57;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 12px 0;
	text-decoration: none;
	text-shadow: 0px 1px 0px #4F4C57;
	margin: 0.5rem 0rem;
	width: 100%;
	font-size: 1.6rem;
}

.answer-button:hover {
	background: linear-gradient(to bottom, #8B9556 5%, #BED558 100%);
}

/*Footer style*/
.footer {
	background-color: #769FB6;
	padding: 20px;
}

.footer a {
	color: #FFFFFF;
	font-size: 1.6rem;
	padding: 0.6rem;
	transition: all .5s ease;
}

.footer a:hover {
	color: #E6E6E6;
}